{% if site.blog.size > 0 %}
  <ul>
    {% for post in site.blog reversed %}
      {% if include.featuredOnly == true %}
        {% if post.featured == true %}
          <li class="post-list-item">
            <span class="home-date">
              {{ post.date | date: site.theme_config.date_format }}»
            </span>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
        {% endif %}
      {% else %}
        <li class="post-list-item">
          <span class="home-date">
            {{ post.date | date: site.theme_config.date_format }}»
          </span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}